body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #C86432;
    height: auto;
    width: 100%;
    border-bottom: 2px solid black;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
}

.contact-info{
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contact-info img{
    height: 30px;
    width: 30px;
}

.contact-info a{
    text-decoration: none;
    color: black;
}

.language img {
    height: 50px;
    width: 61px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E8EEF2;
}

.skills{
    display: flex;
    flex-direction: column;
}

.skills-list{
    display: flex;
}

.education{
    display: flex;
    flex-direction: column;
}

.education-list{
    display: flex;
    flex-direction: column;
}

.school{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.school-info{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
}

.year-gpa{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-wrap: nowrap;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language ul{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.languages{
    display: flex;
    flex-direction: column;
}